#Alternate default index page
DirectoryIndex .container.ttl

AddType text/turtle ttl
AddType text/markdown md

<FilesMatch ^>
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "*"
  </IfModule>
</FilesMatch>