
:root {
  --theme-color1-back: #1976d2;
  --theme-color1-front: #dadada;
  --theme-color1-button: #1976d2;
  --theme-color1-buttonhover: #115293;
  --theme-color1-border: #dadada80;
  --theme-color1-hover: #dadadaA0;
  --theme-front1: #333;
  --theme-front2: #494949;
  --theme-back1: #ececec;
  --theme-back2: #dcdcdc;
  --theme-border1: #c8c8c8;
  --theme-border2: #ffffff;
  --theme-selection: #324c8730;
  --theme-hover: #32497C30;
  --theme-shadow: #00000040;

  --scrollbar-color-thumb: #afafaf;
  --scrollbar-color-track: #ececec;

  --link-color: #0942b3;
  --link-hover-color: #0749cc;

  --alert-info-bg: #cbdbff;
  --alert-info-color: #02369a;

  --resource-icon-size: 80px;


}


.theme-dark {
  --theme-color1-back: #272a3c;
  --theme-color1-front: #dcdcdc;
  --theme-color1-button: #2c3151;
  --theme-color1-buttonhover: #343b63;
  --theme-color1-border: rgba(181, 181, 181, 0.5);
  --theme-color1-hover: #FFFFFF30;
  --theme-front1: #e6e6e6;
  --theme-front2: #afafaf;
  --theme-back1: #222;
  --theme-back2: #353535;
  --theme-border1: #444;
  --theme-border2: #2c2c2c;
  --theme-selection: #4f75d330;
  --theme-hover: #5072C530;
  --theme-shadow: #E0E0E040;

  --scrollbar-color-thumb: #6a6a6a;
  --scrollbar-color-track: #292929;

  --link-color: #4478cc;
  --link-hover-color: #1e63ff;

  --alert-info-bg: #021032;
  --alert-info-color: #7993c5;

  .monaco-editor {
    .line-numbers.active-line-number {
      color: #d9e1ff;
    }

    .cldr.codicon.codicon-folding-expanded, .monaco-editor .cldr.codicon.codicon-folding-collapsed {
      color: #b5b5b5 !important;
    }

    .view-overlays .current-line {
      border: 2px solid #404040;
    }
  }


}

/* MUI color overrides */
/*
.mainApp {
  .MuiAppBar-root {
    background-color: var(--theme-color1-back);
  }
  .MuiButton-root {
    &:hover {
      background-color: var(--theme-color1-buttonhover);
    }
    background-color: var(--theme-color1-button);
    color: var(--theme-color1-front);
  }
  .MuiInputBase-root {
    background-color: var(--theme-color1-button);
    color: var(--theme-color1-front);
  }
}

 */




$primary: var(--theme-color1-back);

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 1rem;


  background: var(--theme-back1);
  color: var(--theme-front1);

  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  scrollbar-width: thin;

  a {
    &:link { color: var(--link-color); text-decoration: none;}
    &:visited { color: var(--link-color); }
    &:hover { color: var(--link-hover-color); text-decoration: underline;}
    &:active { color: var(--link-hover-color); }
  }
}

.Toastify {
  position: absolute;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border: 1px solid var(--theme-border1);
  background-color: var(--theme-back1);
  box-shadow: 2px 2px 6px var(--theme-shadow);
  padding: 8px;
  z-index: 1000;
  overflow: hidden;
  overflow-wrap: break-word;
}

.mainApp {
  height: 100vh;
  //width: 100%;
  //position: absolute;

  .music-control-bar {
    @extend .hFlow;
    overflow: hidden;
    margin: auto 0;
    font-size: 90%;
    padding: 3px;
    border: 1px solid var(--theme-border2);
    border-radius: 8px;
    background-color: var(--theme-back2);

    .logo, .action {
      flex: none
    }

    .title {
      height: fit-content;
      margin: auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &>* {
      vertical-align: middle;
    }

    .MuiSelect-select {
      padding: 2px;
    }

    .MuiInputBase-root {
      font-size: inherit
    }
  }

  /**
  Material UI overrides
  */

  .MuiAlert-root {
    padding: 0px 16px;
    margin: 5px;

    &.MuiAlert-colorInfo {
      color: var(--alert-info-color);
      border-color: var(--alert-info-color);
      background-color: var(--alert-info-bg);
    }
  }

  .MuiInputBase-root {
    background-color: var(--theme-color1-button);
    color: var(--theme-color1-front);
  }

  .Mui-disabled {
    color: var(--theme-shadow) !important;
  }

  .MuiButtonGroup-root {
    & > .MuiInputBase-root:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    & > .MuiInputBase-root:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // Let's remove the padding altogether, and put itt back on a per case basis
  .MuiTabPanel-root {
    padding: 0;
  }

  .navbar {
    padding: 5px;
    background-color: var(--theme-color1-back);
    background-image: none;

    .app-logo {
      width: 44px;

      @media (max-width: 500px) {
        width: 30px;
      }
    }

    .MuiToolbar-root {
      min-height: 0px;

      div[role='button'] {
        display: flex;
      }

      .solid-login-multi {
        font-size: 80%;
        text-wrap: nowrap;
        overflow: hidden;

        .MuiInputBase-root {
          overflow: hidden;
        }
      }

    }
  }
}

.contentPane {
  //padding: 10px;
  &>* {
    height: 100%;
  }
}

.paddedPanel {
  padding: 15px;
}

.fill {
  height: 100%;
  width: 100%;
  position: relative;
}

.hFlow {
  display: flex;
  flex-direction: row;

  & > * {
    flex: 1;
    min-width: 0;
    overflow: auto;
  }
}

.vFlow {
  &:not([hidden]) {
    display: flex;
  }

  flex-direction: column;

  & > * {
    //height: inherit;
    flex: 1;
    overflow: auto;
    min-height: 0;
  }

  .navbar {
    flex: none;
  }
}

.flex-wrap-card-container {
  @extend .hFlow;
  @extend .paddedPanel;
  flex-wrap: wrap;

  .card {
    height: fit-content;
    flex: 1 1 0;
    margin: 5px;

    min-width: 400px;
    border: 1px solid var(--theme-border2);
  }
}


.absolute-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  overflow: auto;
}

.react-codemirror2 {
  height: 100% !important;
}

.CodeMirror {
  //border: 1px solid var(--theme-back1);
  height: 100% !important;
  width: auto;
}

.sidenav {
  flex: none;
  background-color: var(--theme-color1-back);
  border-right: 1px solid rgb(19, 40, 74);
  padding: 5px;

  .sidenav-divider {
    margin: 5px 0px;
    border-bottom-width: 1px;
    border-color: var(--theme-color1-border);
    //box-shadow: var(--theme-color1-border) 1px 1px 2px;
  }

  & > button {
    display: block;
    border-radius: 10%;
    margin: 1px;
    color: var(--theme-color1-front);

    @media (max-width: 500px) {
      padding: 5px 1px;
    }

    &[aria-selected="true"] {
      box-shadow: inset 0px 0px 6px 2px var(--theme-color1-border);
    }

    &:hover {
      box-shadow: inset 0px 0px 6px 4px var(--theme-color1-hover);
    }
  }
}

svg {
  vertical-align: middle;
}

.retail {
  @extend .vFlow;

  .retail-overview {
    @extend .flex-wrap-card-container;
  }

  .dataproviders {

    .dataprovider {
      @extend .hFlow;

      &>* {
        @extend .paddedPanel
      }

      .filedrop {
        flex: 0.5 1 0;
        max-width: 150px;

        &:hover {
          background-color: var(--theme-color1-buttonhover);
        }
      }
    }
    .providerCard {
      position: relative;
      overflow: clip;
      background: var(--theme-back1);
      margin: 5px;
      padding: 3px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
      border: 1px solid var(--theme-back2);
      border-radius: 3px;
      max-width: 200px;

      &:hover {
        border: 1px solid #234087;
        box-shadow: 3px 3px 3px rgba(0, 0, 113, 0.5);
      }

      &.selected {
        height: 110px;
        border: 1px solid #324c87;
        border-radius: 3px 3px 0px 0px;
        border-bottom: none;
        box-shadow: 3px 3px 3px rgba(0, 0, 113, 0.29);
        z-index: -1;
      }
    }
  }

  .uploader {
    background: var(--theme-back1);
    margin: 5px;
    padding: 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--theme-back2);
    border-radius: 3px;
    z-index: 10;
  }
}

.podbrowser {

  .scan-results {
    @extend .paddedPanel;
    table {
      border: 1px solid var(--theme-back2);
    }
  }

  .podbrowser-body {
    @extend .hFlow;

    .podbrowser-sidenav {
      @extend .vFlow;
      flex: 0.25;
      padding: 8px;
      border-right: 1px solid var(--theme-border1);

      .podbrowser-sidenav-quicklinks {
        & > *:hover {
          background-color: var(--theme-hover);
        }

        flex: none;
        border-bottom: 1px solid var(--theme-border2);
        padding-bottom: 5px;
        margin-bottom: 5px;
      }

      .podbrowser-tree {
        .podbrowser-tree-children {
          margin-left: 10px;
        }

        .podbrowser-tree-resource-name {
          & > * {
            vertical-align: middle;
          }
        }

        .resource {
          text-wrap: nowrap;
          overflow: hidden;
        }
      }
    }

    .podbrowser-resource {
      @extend .vFlow;

      .topbar {
        flex: none;
        //min-height: 25px;
        background-color: var(--theme-back1);
        border-bottom: 1px solid var(--theme-back2);

        .filebreadcrumb {
          display: inline-block;
          color: var(--theme-front1);
          border-radius: 2px;
          background-color: var(--theme-back2);
          border: 1px solid var(--theme-back2);
          margin: 3px;
          padding: 0px 3px;

          &:hover {
            box-shadow: inset 0 0 5px var(--theme-shadow);
          }
        }

        .file_actions {
          display: inline-block;
          float: right;

          &>* {
            vertical-align: bottom;

            &:hover {
              box-shadow: inset 0px 0px 6px 4px var(--theme-color1-hover);
            }
          }
        }
      }
    }

    .podbrowser-resource-metadata {
      @extend .vFlow;

      [role="tabpanel"] {
        padding: 5px;
      }
    }
    .podbrowser-resource-viewer {
      @extend .vFlow;
      flex: 2;
      border-right: 1px solid var(--theme-back2);

      .container-viewer {
        @extend .vFlow;
        .container-readme {
          padding: 7px;
          flex: 0 1 auto;
          //max-height: 10em;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 10;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          background-color: var(--theme-back2);
          border-radius: 3px;
          margin: 5px;
          font-syize: 80%;

          .container-readme-quicklink {
            float: right
          }
        }

        .container-drag-hint {
          position: absolute;
          right: 15px;
          bottom: 4px;
          font-style: italic;
          font-size: 80%;
          color: var(--theme-front2);
          pointer-events: none;
          opacity: 0.7;
        }
      }

      .container-resources {
        @extend .hFlow;
        flex: 1 0.5 auto;

        .container-resource-list {
          &.details .resource {
            svg {
              margin-right: 5px;
            }
          }

          &.grid {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-content: baseline;

            .resource {
              @extend .vFlow;
              text-align: center;
              height: 110px;
              padding: 3px;


              svg {
                flex: none;
                font-size: var(--resource-icon-size);
                display: block;
              }

              .resource-name {
                font-size: 80%;
                max-width: var(--resource-icon-size);
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;

                display: -webkit-box;
                -webkit-line-clamp: 2; /* max line number */
                -webkit-box-orient: vertical;
              }

              &:hover>.resource-name {
                overflow: visible;
                -webkit-line-clamp: inherit;
              }
            }

          }

        }
      }


    }

    .acrPolicies, .acrMatchers {
      font-size: 80%;

      th {
        text-align: center;
      }

      td {

        max-width: 2em;
      }

      .MuiCheckbox-root {
        padding: 0;
      }

      .policyName {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }

      .policyMatchers {
        padding-left: 15px;
      }

      .matcherName {
        display: inline-block;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        text-wrap: nowrap;
      }
    }
  }

  .resource {
    &:hover {
      background-color: var(--theme-hover);
    }

    &.selected {
      background-color: var(--theme-selection);
    }
  }
}


.music {

  .music-overview {
    @extend .flex-wrap-card-container;
  }

  .playlists {
    @extend .hFlow;
    background-color: var(--theme-back2);
    border-radius: 5px;
    margin: 5px;

    .playlists-list {
      flex: 0 1 fit-content;
      max-width: 30%;

      border-right: 1px solid var(--theme-border2);

      &>div {
        padding: 3px 10px;
        &.selected {
          background-color: var(--theme-selection);
        }
      }
    }

    .playlist-details {
      @extend .paddedPanel;
    }
  }
}

.itemsTable {
  @extend .hFlow;

  .itemsList {
    @extend .paddedPanel;
    flex: 1;

    &>div {
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: var(--theme-hover);
      }

      &.selected {
        background-color: var(--theme-selection)
      }
    }
  }

  .itemsDetails {
    @extend .paddedPanel;
    flex: 3;
  }
}


.receiptsTable {
  @extend .paddedPanel;
}

.frequencyBar {
  display: inline-block;
  border: 1px solid var(--theme-border1);
  position: relative;
  vertical-align: middle;
  margin: 2px 5px;

  &>div {
    display: inline-block;
    background-color: green;
    height: 100%;
  }
}

.itemDate {
  display: inline-block;
  font-size: 90%;
  color: var(--theme-front2);
  margin: 2px 5px;
}
